<p id="notice"><%= notice %></p>

<h2>Flavors</h2>
<%if @flavors.empty?%>
<p>There are no flavors </p>
<%else%>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flavors.each do |flavor| %>
      <tr>
        <td><%= flavor.name %></td>
      
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>

<br>

