<p>
  <a href="/home">Home</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="/about">About Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="/contact">Contact Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">Back to top</a>
</p>
<div id="copyright">
  <br />By: Amal Alkorbi
    &nbsp;&nbsp;
  <br /><br />
</div>