<p>
  <a href="#">Home</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">About Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">Contact Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">Back to top</a>
</p>
<div id="copyright">
  <br />By: <%= mail_to "akorbi@andrew.cmu.edu", "Amal Alkorbi", :encode => "javascript" %>
    &nbsp;&nbsp;
  <br /><br />
</div>