<style>
p.mymy {
    font-size: 15px;
    font-family: "Comic Sans MS", cursive, sans-serif;

    color: #6D6968;
}
</style>
<p class="mymy">
  <a href="/home">Home</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="/about">About Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="/contact">Contact Us</a>&nbsp;&nbsp;::&nbsp;&nbsp;
  <a href="#">Back to top</a>
  <br />By: Amal Alkorbi<br />
    &nbsp;&nbsp;
  <br /><br />
</p>
