
<h2 >Welcome To The Amazing & Marvelous Creamery</h2>
<br />
<div class="row">
	<div class="small-7 columns">
		<p>
			We're the place for innovative, delicious and fun icecreams in your 
			neighborhood.<br />
			Visit our store, pick your flavor and customize it to your
			liking. Make your day Amazing!!
		
		</p>
	</div>
	<div class="small-1 columns">

		&nbsp;
	</div>
	<div class="small-4 columns">
		&nbsp;
	</div>


</div>

