<h2>A & M Creamery</h2>


<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <p> 
            The A & M Creamery is the brainchild of Alex and Mark Heimann and currently consists <br />
			of four stores in the Greater Pittsburgh area. They offer a wide variety of flavors <br />
			to fit your taste.            
			</p>
        </div>
    </div>
</div>



